/** GENERAL **/
:root {
    --border-color: #11ADE1;
    --text-color: #11ADE1;
}

 /** TOP CONTAINER **/
.top {
    margin-top: 5px;
    border-bottom: 1px solid #D8D8D8;
    display:flex;
    justify-content: center;
    align-items: center;
}

.top .wrapper header {
    text-align: center;
}

.top .wrapper header h4 {
    margin-bottom: 10px;
}

.top .wrapper nav a {
    margin: 0px 10px 10px 10px;
}

/* MIDDLE CONTAINER */ 
.middle {
    margin-top: 30px;
}

/* Home page */
.home {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Upload */

.upload-section form {
    margin-bottom: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container p {
    text-align: center;
}

.flex-container input.file-upload-field {
    border-radius: 3px;
    padding: 5px;
}

/* Select sheet */
.select-sheet select {
    width: 50%;
}

.select-sheet p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.select-sheet p label {
    padding-right: 10px;
}

/* Mapping Columns */
.mapping-section .form-group-a {
    padding-right: 80px;
}

.mapping-section .form-group-b {
    padding-left: 80px;
}


.mapping-section .form-group p {
    margin-bottom: 10px;
}

.next-step {
    display: flex;
    justify-content: center;
    align-items: center;
}