body {
    background-color: #ECF0F1;
}

:root {
    --border-color: #11ADE1;
    --text-color: #11ADE1;
    --shadow-color: rgba(145, 145, 145, 0.3);
}

.main {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 2px 3px 0 var(--shadow-color), 0 5px 5px 0 var(--shadow-color);
}

.main header {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    margin-top: 20px;
}

.main header h2 a {
    color: var(--text-color);
    text-decoration: none;
}

.upload-section {
    margin-top: 20px;
}

.upload-section form {
    margin-bottom: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container p {
    text-align: center;
}

.flex-container input.file-upload-field {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 5px;
}

