<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" href="{{ url_for('static', filename='images/bom-comparison.jpg') }}" type="image/x-icon" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/compare.css') }}">
<title>DC Bom Compare</title>
</head>
<body>
<div class="container main">
<header><h2><a href="{{ url_for('home') }}">DC BOM COMPARISON</a></h2></header>
{% block content %}{%endblock%}
</div>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
</body>
</html>