<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" href="{{ url_for('static', filename='images/compare.png') }}" type="image/x-icon" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/compare.css') }}">
<title>DC Bom Compare</title>
</head>
<body>
<div class="container top">
	<div class="wrapper">
		<header><h4>BOM Compare</h4></header>
		<nav>
			<a class="button" href="{{ url_for('upload') }}">NEW COMPARE</a>
			<a class="button" href="{{ url_for('profile_manage') }}">MANAGE PROFILE</a>
		</nav>
	</div>
</div>
<div class="container middle">
{% block content %}{%endblock%}
</div>
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
</body>
</html>