{% extends "base.html" %}
{% block content %}
<div class="container upload-section">
  <form class="up" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="six columns flex-container">
        <p><label for="upload_bom_a">BOM A:</label><input type="file" name="file_a" id="upload_bom_a" accept=".xlsx" required></p>
      </div>
      <div class="six columns flex-container">
        <p><label for="upload_bom_b">BOM B:</label><input type="file" name="file_b" id="upload_bom_b" accept=".xlsx" required></p>
      </div>
    </div>
    <div class="row flex-container">
      <p><input type="submit" class="button-primary" value="Upload"></p>
    </div>
  </form>
</div>
{% endblock %}
