{% extends "base.html" %}
{% block content %}
<div class="container mapping-section content">
  <nav><span><a href="{{ url_for('mapping_manual') }}">Mapping Manual</a> | <a href="{{ url_for('mapping_template') }}">Mapping Template</a></span></nav>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="container profile-list-top ">
    {% for subfield in form.template_radio %}
      <div class="scroll-container">
          <span>{{ subfield }} {{ subfield.label }}</span>
      </div>
    {% endfor %}
    </div>
    <div class="row form-group next-step">
      <p>{{ form.use_template(class="button-primary") }}</p>
    </div>
  </form>
</div>
{% endblock content %}