{% extends "base.html" %}
{% block content %}
<div class="form profile-manage">
  <div class="row">
    <div class="col">
      <header><h4>Manage Profile</h4></header>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
      <div class="container profile-add-section"><p><a class="btn btn-primary" href="{{ url_for('profile_add') }}">NEW PROFILE</a></p></div>
  </div>
  
    <div class="col-9">
      {% if profiles %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Profile Name</th>
            <th scope="col">Item Type</th>
            <th scope="col">Customer</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        
        <tbody>
        {% for profile in profiles %}
        <tr>
          <td>{{ profile.profile_name }}</td>
          <td>{{ profile.item_type }}</td>
          <td>{{ profile.customer }}</td>
          <td><a class="btn btn-success btn-sm" href="{{ url_for('profile_modify', id=profile.id) }}">Modify</a>&nbsp;|&nbsp;<a class="btn btn-danger btn-sm" href="{{ url_for('profile_delete', id=profile.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  
</div> <!-- end .form -->

{% endblock %}