{% extends "base.html" %}
{% block content %}
<div class="container content">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
      <label>{{ form.name.label }}</label>
      {{ form.name(class="u-full-width") }}
    </p>
    <p>
      <label>{{ form.type.label }}</label>
      {{ form.type(class="u-full-width") }}
    </p>
    <p>
      <label>{{ form.prefix.label }}</label>
      {{ form.prefix(class="u-full-width") }}
    </p>
    <p>
      <label>{{ form.suffix.label }}</label>
      {{ form.suffix(class="u-full-width") }}
    </p>
    <p>
      <label>{{ form.delimiter.label }}</label>
      {{ form.delimiter(class="u-full-width") }}
    </p>
    <p>
      <label>{{ form.action.label }}</label>
      {{ form.action(class="u-full-width") }}
    </p>
    <p>
      <label>{{ form.sample.label }}</label>
      {{ form.sample(class="u-full-width") }}
    </p>
    <div class="container">
      {{ form.add(value="MODIFY") }}
    </div>
  </form>
</div>
{% endblock content %}