{% extends "base.html" %}
{% block content %}
<div class="container content">
      <div class="container profile-list-top ">
        {% if profiles %}
          <div class="scroll-container">
          {% for profile in profiles %}
            <span class="profile-{{ profile.id }}"><label for="profile-{{ profile.id }}"><input type="checkbox" id="profile-{{ profile.id }}" value="{{ profile.id }}"> {{ profile.name }} - {{ profile.type }}</label></span>
          {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <div class="container button-list-middle">
        {% if bom_index %}
        <select id="bom-index">
          {% for i in bom_index %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <button class="button button-primary" id="add-profile">ADD</button>
        <button class="button button-primary" id="remove-profile">REMOVE</button>
        {% endif %}
      </div>

      <div class="container profile-list-bottom">
        {% if profiles %}
          <div class="scroll-container">
          {% for profile in profiles %}
            <span class="profile-{{ profile.id }}" style="display:none;"><label for="profile-{{ profile.id }}"><input type="checkbox" id="profile-{{ profile.id }}" value="{{ profile.id }}"> {{ profile.name }} - {{ profile.type }}</label></span>
          {% endfor %}
          </div>
        {% endif %}
      </div>
  <div class="container next-step">
    <a class="button button-primary" href="">NEXT STEP</a>
  </div>
</div>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock content %}