{% extends "base.html" %}
{% block content %}
<form action="" method="POST" class="form">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col">
      <header><h4>Create New Profile</h4></header>
    </div>
  </div>
  <div class="row">
    <div class="col-4"><div class="form-group">{{ form.profile_name.label }}{{ form.profile_name(class="form-control", id="profile-name") }}</div></div>
    <div class="col-4"><div class="form-group">{{ form.customer.label }}{{ form.customer(class="form-control", id="customer") }}</div></div>
    <div class="col-4"><div class="form-group">{{ form.item_type.label }}{{ form.item_type(class="form-control", id="item-type") }}</div></div>
  </div>

  <div class="row">
    <div class="col-6"><div class="form-group">{{ form.prefix.label }}{{ form.prefix(class="form-control", id="prefix") }}</div></div>
    <div class="col-6"><div class="form-group">{{ form.prefix_action.label }}{{ form.prefix_action(class="form-control", id="prefix-action") }}</div></div>
  </div>

  <div class="row">
    <div class="col-6"><div class="form-group">{{ form.suffix.label }}{{ form.suffix(class="form-control", id="suffix") }}</div></div>
    <div class="col-6"><div class="form-group">{{ form.suffix_action.label }}{{ form.suffix_action(class="form-control", id="suffix-action") }}</div></div>
  </div>

  <div class="row">
    <div class="col-4"><div class="form-group">{{ form.delimiter.label }}{{ form.delimiter(class="form-control", id="delimiter") }}</div></div>
    <div class="col-4"><div class="form-group">{{ form.delimiter_action.label }}{{ form.delimiter_action(class="form-control", id="delimiter-action") }}</div></div>
    <div class="col-4"><div class="form-group">{{ form.delimiter_sample.label }}{{ form.delimiter_sample(class="form-control", id="delimiter-sample") }}</div></div>
  </div>
  <div class="row profile-test-section">
    <div class="col-4"><div class="form-group">Test<input type="text" class="form-control" id="profile-test-input"></div></div>
    <div class="col-4"><div class="form-group">Result<input type="text" class="form-control" id="profile-result" readonly=""></div></div>
    <div class="col-4"><div class="form-group"><input type="button" class="btn btn-primary" id="profile-test-btn" onclick="profile_test();" value="TEST PROFILE"></div></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">{{ form.add_profile(class="btn btn-primary") }}</div>
    <div class="col"></div>
  </div>
</form>
<script src="{{ url_for('static', filename='js/profile_test.js') }}"></script>
{% endblock content %}