{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="four columns">
    <div class="container profile-add-section"><p><a class="button button-primary" href="{{ url_for('profile_add') }}">Add New Profile</a></p></div>
  </div>
{% if profiles %}
  <div class="eight columns">
    <table class="u-full-width profiles-table">
      <thead>
        <tr>
          <th>Profile Name</th>
          <th>Item Type</th>
          <th>Customer</th>
          <th>Action</th>
        </tr>
      </thead>
      
      <tbody>
      {% for profile in profiles %}
      <tr>
        <td>{{ profile.profile_name }}</td>
        <td>{{ profile.item_type }}</td>
        <td>{{ profile.customer }}</td>
        <td><a class="button button-primary action" href="{{ url_for('profile_modify', id=profile.id) }}">Modify</a>&nbsp;|&nbsp;<a class="button button-primary action" href="{{ url_for('profile_delete', id=profile.id) }}">Delete</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}