{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="four columns">
    <div class="container profile-add-section"><p><a class="button button-primary" href="{{ url_for('template_upload') }}">Add New Template</a></p></div>
  </div>
{% if templates %}
  <div class="eight columns">
    <table class="u-full-width profiles-table">
      <thead>
        <tr>
          <th>Template Name</th>
          <th>Customer</th>
          <th>Action</th>
        </tr>
      </thead>
      
      <tbody>
      {% for template in templates %}
      <tr>
        <td>{{ template.template_name }}</td>
        <td>{{ template.customer }}</td>
        <td><a class="button button-primary action" href="">Modify</a>&nbsp;|&nbsp;<a class="button button-primary action" href="">Delete</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}