{% extends "base.html" %}
{% block content %}
<form method="POST" class="form select-sheet-form" action>
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col">
      <header><h4>Select Worksheet</h4></header>
    </div>
  </div>
  <div class="row">
    <div class="col"><small><em>Please select the Worksheets that contains the BOM</em></small></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <strong>{{ form.select_sheet_a.label }}</strong>{{ form.select_sheet_a(class="form-control") }}
      </div></div>
    <div class="col">
      <div class="form-group">
        <strong>{{ form.select_sheet_b.label }}</strong>{{ form.select_sheet_b(class="form-control") }}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col"></div>
    <div class="col">{{ form.next_step(class="btn btn-primary") }}</div>
    <div class="col"></div>
  </div>
</form>
{% endblock %}