{% extends "base.html" %}
{% block content %}
<div class="form profile-manage">
  <div class="row">
    <div class="col">
      <header><h4>Manage Template</h4></header>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
      <div class="container profile-add-section"><p><a class="btn btn-primary" href="{{ url_for('template_add') }}">NEW TEMPLATE</a></p></div>
  </div>
  
    <div class="col-9">
      {% if templates %}
      <table class="table">
        <thead>
          <tr>
            <th>Template Name</th>
            <th>Customer</th>
            <th>Action</th>
          </tr>
        </thead>
        
        <tbody>
        {% for template in templates %}
        <tr>
          <td>{{ template.template_name }}</td>
          <td>{{ template.customer }}</td>
          <td><a class="btn btn-success btn-sm" href="">Modify</a>&nbsp;|&nbsp;<a class="btn btn-danger btn-sm" href="{{ url_for('template_delete', id=template.id ) }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div> <!-- end .form -->
{% endblock %}
