{% extends "base.html" %}
{% block content %}
<form method="POST" class="form bom-upload-form" enctype="multipart/form-data" onsubmit="validateFileOnSubmit();">
  <div class="row">
    <div class="col">
      <header><h4>Create New Template</h4></header>
    </div>
  </div>
  <div class="row">
    <div class="col"><small><em>Please upload the BOMs in Excel format. These files will be used to create new templates (NOTE: Only extension <strong style="color: red;">*.xlsx</strong> is accepted).</em></small></div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="upload_bom_a"><strong>Select BOM A:</strong></label><input type="file" name="file_a" class="form-control-file bom-upload-field" id="upload_bom_a" accept=".xlsx" required>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="upload_bom_b"><strong>Select BOM B:</strong></label><input type="file" name="file_b" class="form-control-file bom-upload-field" id="upload_bom_b" accept=".xlsx" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"><p><input type="submit" class="btn btn-primary" value="NEXT STEP"></p></div>
    <div class="col"></div>
  </div>
</form>
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
{% endblock %}
